@page
@model StudyProject.Employees.Web.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not found";
}

<div class="row">
    <div class=" col text-center">

        <img src="/images/NotFound2.png" alt="Pae not found"/>
    
    </div>
</div>

<div class="row">
    <div class=" col text-center">
     
        <h1>Ресурс которые Вы ищите отсутствует</h1>
        <a asp-page="/Employees/Employees" class=" btn btn-primary">Тыкай сюды для возврата</a>
    
    </div>
</div>

